table{
	border: 1px solid black;
}

td {
	border: 1px solid black;	
}

th {
	border: 1px solid black;	
}

tbody td:first-child {
	font-style: italic;
 }

tbody td:nth-of-type(6n+2) {
 	color: red;
}

tbody td:nth-of-type(6n+4) {
 	color: blue;
}

tbody tr:nth-of-type(odd) {
	background-color: #88FF90;
}

tbody tr:nth-of-type(even) {
	background-color: #88D8FF;
}

tfoot td {
	color: black;
	font-style: normal;
}
